$toolbar-datepicker-height: 36px;
$toolbar-breakpoint: 1450px;

.site-reports-actions {
  display: flex;

  height: 100%;
  margin-right: 20px;

  &__action {
    margin: 0 5px;
    color: $color-iron-sea;

    .btn__content a {
      display: flex;

      align-items: center;

      color: $color-finn-white;
      text-decoration: none !important;
    }

    &--no-margin {
      margin: 0;
    }
  }
}

.site-reports-wrapper {
  padding: 0 24px 20px;
  background-color: $color-bone;
}

.site-reports-body {
  padding: 24px;
}

.site-reports-body-toolbar {
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $toolbar-breakpoint) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__primary-content {
    display: flex;

    align-items: center;
    flex-wrap: wrap;

    height: auto;
    width: 100%;

    @media screen and (min-width: $toolbar-breakpoint) {
      width: 760px;
    }
  }

  &__secondary-content {
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    height: 50px;
    width: 100%;

    @media screen and (min-width: $toolbar-breakpoint) {
      justify-content: flex-end;

      width: calc(100% - 760px);
    }
  }

  &__text-content {
    min-width: 112px;
    width: 112px;
  }
}

.site-reports-datepickers {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.site-reports-toolbar-search {
  display: flex;
  height: 36px;
  margin-bottom: 13px;
  margin-right: 29px;
  padding: 6px 16px;
  width: 330px;

  background-color: $color-finn-white;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

  &__icon {
    height: 17px;
    margin-right: 28px;
    width: 17px;
  }

  &__input {
    width: 250px;

    &:focus {
      outline: none;
    }
  }
}

.site-reports-toolbar-export {
  margin-bottom: 13px;
  width: 100px;

  color: $color-nww-green;

  &__activator {
    display: flex;

    justify-content: space-between;
    height: 28px;
    width: 100px;
    border-bottom: 1px solid $color-nww-green;
  }

  &__activator-text {
    height: 24px;
    padding-left: 2px;
    width: 47px;

    font-size: 16px;
    line-height: 24px;
  }
}

.collection-sites-header {
  display: flex;

  justify-content: space-between;
  padding: 22px 0 17px 32px;

  &__primary-content {
    // padding-left: 32px;
  }

  &__header {
    color: $color-iron-sea;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 38px;
  }

  &__subheader {
    color: $color-sad-grey;
    font-size: 13px;
    line-height: 16px;

    &--bold {
      @extend .collection-sites-header__subheader;
      font-weight: 500;
    }

    &--nww {
      @extend .collection-sites-header__subheader;
      color: $color-nww-green;
    }
  }

  &__subheader-wrapper {
    margin-bottom: 20px;

    color: $color-nww-green;
    font-size: 13px;
    line-height: 16px;
  }
}

.col-med {
  min-width: 200px;
}

.col-long {
  min-width: 300px;
}
