$color-bone: #f7f7f7;
$color-bumble-bee: #8e7630;
$color-dust: #e4e4e4;
$color-finn-white: #fff;
$color-iron-sea: #004d71;
$color-nww-green: #7fba00;
$color-storm-cloud: #4a4a4a;
$color-warlock: #4d86a0;
