.log-data .input-group--limit-height:first-of-type {
  margin-top: 0 !important;
  max-height: none !important;
}

.page-content-body__header {
  margin-top: 20px;
}

.headline {
  color: $color-iron-sea !important;
}

.flat-action {
  color: $color-iron-sea !important;
}

.application--light .input-group input,
.input-group--text-field label { // Vuetify style override
  color: $color-sad-grey !important;
}

.application--light .input-group--selection-controls {
  color: $color-warlock !important;
}

.input-group--text-field label {
  transform: translate3d(0, -18px, 0) scale(0.75) !important;
}

.input-group__hint { // Vuetify style override
  color: $color-bumble-bee !important;
}

.input-group__details {
  &:before {
    color: $color-sad-grey;
  }

  &:after {
    background-color: $color-nww-green !important;
  }
}

a.list__tile {
  transition: color 0s;
}

a.list__tile:hover,
.list__tile:hover,
.list__tile--link:hover,
.list__tile--highlighted {
  transition: 0;
  background-color: #EDF2F5 !important;
  color: #004D71 !important;
}

.nww-table {
  margin-top: 8px;
}

.picker__title,
.picker--date .btn--active:after {
  background: #004D71;
}

.dialog .card {
  padding: 16px;
}

.dialog.dialog--active {
  min-width: 460px !important;
  width: 90% !important;
}

.dialog.dialog--active .card {
  padding: 0 !important;
}

.application--light .input-group.input-group--disabled .input-group__details:before {
  background-color: rgba(0,0,0,0.42);
  background-image: none;
}

.input-group__selections__comma {
  color: #7d7d7d !important;
}

.data-map__menu a {
  padding: 8px 10px;
  border-bottom: 1px solid #e4e4e4;

  background: #fff;
  color: #4a4a4a;
  text-decoration: none;

  &:last-child {
    border: 0;
  }

  &:hover {
    background-color: rgba(77, 134, 160, 0.05);
  }

  &.active {
    color: #fff;
    background-color: rgba(77, 134, 160, 1);
    // background-color: rgba(223, 223, 223, 0.6);
    font-weight: 500;

    &:hover {
      color: #4a4a4a;
      background-color: rgba(77, 134, 160, 0.05);
    }
    }
}

button.mapboxgl-ctrl-icon {
  margin-bottom: 0;
}
button.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullextent {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 14px;
}

.mapboxgl-popup-content {
  padding: 14px;
}

.mapboxgl-popup-close-button {
  padding: 6px 12px;
  margin-bottom: 0;
}

.mapboxgl-popup-content p {
  margin: 6px 0 0 0;
}

.controls-card-header,
.controls-card-control-group__header {
  text-transform: uppercase;
}

.navigation-drawer.navigation-drawer--absolute {
  @media screen and (max-width: 849px) {
    height: 100vh !important;
    padding-top: 64px;
    margin-top: 0px;
  }
}

