.log-data .input-group--limit-height:first-of-type {
  margin-top: 0 !important;
  max-height: none !important;
}

.page-content-body__header {
  margin-top: 20px;
}

.application--light .input-group input,
.input-group--text-field label { // Vuetify style override
  color: $color-sad-grey !important;
}

.input-group--text-field label {
  transform: translate3d(0, -18px, 0) scale(0.75) !important;
}

.input-group__hint { // Vuetify style override
  color: $color-bumble-bee !important;
}

.input-group__details {
  &:before {
    color: $color-sad-grey;
  }

  &:after {
    background-color: $color-nww-green !important;
  }
}

a.list__tile {
  transition: color 0s;
}

a.list__tile:hover,
.list__tile--highlighted {
  transition: 0;
  background-color: #EDF2F5 !important;
  color: #004D71 !important;
}

.picker__title,
.picker--date .btn--active:after {
  background: #004D71;
}

.dialog.dialog--active {
  width: 500px !important;
}

.application--light .input-group.input-group--disabled .input-group__details:before {
  background-color: rgba(0,0,0,0.42);
  background-image: none;
}

.input-group__selections__comma {
  color: #7d7d7d !important;
}
