.data-map {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #808080;
  position: relative;

  &__map {
    position: relative;
    z-index: 0;

    height: 100%;
    width: 100%;
  }

  &__menu {
    display: flex;
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 1;

    flex-direction: column;
    width: 240px;
    margin-top: 100px;
    box-shadow: 0 2px 4px 0 rgba(155, 155, 155, 0.5);

    background: #f7f7f7;
    font-family: "Roboto", sans-serif;

    @media screen and (min-width: 850px) {
      margin-top: 0;
    }
  }

}

.data-map-banner {
  position: relative;
  z-index: 2;

  min-height: 115px;
  max-height: 130px;
  padding: 11px 40px;
  max-width: 368px;

	background-color: $color-finn-white;
  box-shadow: 0 2px 4px 0 rgba(155,155,155,0.5);
  overflow: hidden;

  @media screen and (min-width: 850px) {
    position: absolute;

    margin: 15px;
    padding: 11px 15px;
  }

  &__header {
    height: 21px;
    margin-bottom: 4px;

    color: $color-iron-sea;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__row {
    display: flex;

    width: 100%;

    &--top-space {
      margin-top: 12px;
    }
  }

  &__text {
    margin-right: 4px;

    color: $color-warlock;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;

    &--strong {
      font-weight: 600;
    }

    &--nww {
      color: $color-nww-green;
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
    }
  }
}
